[2013-05-23 06:22] dfelinto opened #5 "Missing Interlaced methods"
The same way we have multiple anaglyph options, we will need the following interleaved methods:
- Row Interlaced (current method, also commonly known as horizontal interleave)
- Column Interlaced (aka vertical interleave)
- Checkerboard Interlaced

(note: I'm confused on whether to use interleaved or interlaced as UI names)

[2013-05-23 06:32] dfelinto opened #6 "Stereoscopic 3-D mode has to be per window"
Right now if you set a stereo mode it automatically will make it on for all Blender windows.
Instead of that we need to keep the user preference as it is (because per computer you won't likely be using different kinds of 3-D displays).

But on top of that, we need a toggle to enable 3-D. My suggestion is as follow:
- change the shortcut for the SCREEN_OT_clean_full_area to something else, and let

[2013-05-23 06:35] dfelinto opened #7 "Epilepsy Mode"
1. mode should be renamed "Dr. Epilepsy".
2. it would be more efficient if we had a slider to set the time interval. (time based). Right now it's a bit random.

[2013-05-23 07:32] dfelinto opened #8 "Composite doesn't show "right" view when stereo display != none"

[2013-05-23 07:53] dfelinto opened #9 "Viewer Node not handling stereo"

[2013-05-23 08:20] dfelinto opened #10 "Compositor: Combine View Node"
- No “fallback” for default
- Autosyncing (ala renderlayers)

[2013-05-23 08:22] dfelinto opened #11 "Make Render View as shareable datablock"
To be discussed further with other developers, the goal is to make it easy to avoid typos and make the setup across scenes consistent.

Note: different shots still require different "datablocks"

[2013-05-23 08:23] dfelinto opened #12 "Left and Right always present"
They will be there but disabled.

[2013-05-23 08:28] dfelinto opened #13 "File Output"
1. Create a new OpenEXR MultiPart option.
2. Use  % to mark the output filepath (e.g. //#####_%.jpg)

(fallback to _viewname (e.g. "0001_L.jpg").

[2013-05-23 08:33] dfelinto opened #14 "File Editor "Thumbnails" crash with Multiview EXR"

[2013-05-23 17:24] #12 closed, assigned to nobody

[2013-05-23 17:48] dfelinto commented on #11
This is on hold.
Meanwhile I will see if I can get the scene views to propagate to the other scenes while rendering (pipeline.c)

[2013-05-23 22:31] dfelinto commented on #6
implemented

[2013-05-23 22:31] #6 closed, assigned to nobody

[2013-05-24 01:34] dfelinto commented on #8
Fixed, that was a hard one to find.

[2013-05-24 01:34] #8 closed, assigned to dfelinto

[2013-05-24 03:12] dfelinto commented on #14
fixed (forcing single part when loading thumbnails)

[2013-05-24 03:12] #14 closed, assigned to nobody

[2013-05-24 03:21] dfelinto opened #15 "CPU overused when 3-D is on"
We are always rendering the areas. Otherwise we get strange shadows from the menu, and some glitches after the splash screen (lack of redraw).

To prevent those bugs I'm not setting ar->do_draw to FALSE in one case. This is forcing the areas to redraw every time, thus the CPU overhad.

If someone can fix that, see "XXX Strange bug" in wm_draw.c::wm_method_draw_triple_stereo

[2013-05-24 07:44] dfelinto opened #16 "When rendering one view only, and 3-D display, the image is not right"
I need to implement a more robust check to see if the image actually has a 3-D channel.

My proposal is to check if there is a left and a right channels in the image (in image_buttons) and if it does, to mark a flag to be checked against everywhere.

[2013-05-24 12:02] Alexey-Akishin commented on #5
[code]

[2013-05-24 12:02] Alexey-Akishin commented on #7
[code]

[2013-05-24 16:37] dfelinto commented on #16
fixed and code refactored

[2013-05-24 16:37] #16 closed, assigned to nobody

[2013-05-24 16:40] dfelinto commented on #5
Also, for those methods we will need a "swap eye" option. I don't think there is a standard on which line/column goes first (as in whether it is left or right). I may be wrong though.

The same "swap eye" may be useful elsewhere (e.g. anaglyphs?) so the name could be generic (or better, to be a U.stereo_flag).

[2013-05-24 16:43] dfelinto opened #17 "Changes for Fullscreen modes"
When in clean full area we need a way to toggle the header (right now only the side panels have shortcuts)

[2013-05-24 16:58] dfelinto opened #18 "Viewport need to support 3-D"
(discussion started on #1 )

As for viewport, we don't need a toggle anymore. I think the "D" shortcut should be enough (it sets a flag in the window). As for 3-D only being available when we have left and right, we can have something similar to RE_HasStereo3D (but taking the active SceneRenderViews into account).

While at it, I think it may be better to not have the UI you are proposing ... Blen

[2013-05-24 22:00] dfelinto opened #19 "Blue-Yellow is more popular then Yellow-Blue"
According to Youtube:
http://www.pasteall.org/pic/show.php?id=52072

Mind changing that (UI and code)?
cheers

[2013-05-25 17:34] Alexey-Akishin commented on #5
I implemented missing interlaced methods. I will work on adding option to swap left/right stereo channels tomorrow.

[2013-05-25 17:34] Alexey-Akishin commented on #18
I'm OK to not have the UI, but I have not figured out yet how to implement this 3D support, it turned out to be harder than I thought. I decided to take a "break" and work on some other issues first. So feel free to work on this. Otherwise, I will try to return to this issue later...

[2013-05-25 17:35] Alexey-Akishin commented on #19
On YouTube "Blue-Yellow" is just a (wrong) label for Yellow-Blue scheme. Very recently I purchased Yellow-Blue glasses (I still prefer Green-Magenta, but at least I can actually test YB scheme), and "Blue-Yellow" mode in YouTube works well for Yellow-Blue glasses. By the way, if you do not have specific anaglyph glasses, if you choose Red-Cyan on YouTube, pause a video on a frame where Red-Cyan se

[2013-05-25 20:30] dfelinto commented on #19
hm so I guess they decided to follow the R-G-B order.
If we implement the "swap eyes" it may be worthy implementing the changes.
For now I'll close the report.

[2013-05-25 20:30] #19 closed, assigned to Alexey-Akishin

[2013-05-25 20:31] dfelinto commented on #18
ok. I will try to take a look at that.

[2013-05-25 20:31] #18 closed, assigned to dfelinto

[2013-05-25 22:56] dfelinto commented on #18
implemented

[2013-05-26 14:45] dfelinto commented on #15
Talked with Ton and now I know what the problem is.
Basically we can't copy the overlapped buffer back to the drawdata/drawdatastereo. So a quick solution is to store 2 more buffers to use to save the buffers after drawing

[2013-05-27 00:08] dfelinto commented on #15
fixed, @fsiddi let me know if the problem is gone (if not, please re-open this issue)

[2013-05-27 00:13] dfelinto opened #21 "we need rna tooltips for the 3d display types"
@fsiddi feel like tackling this one?

[2013-05-27 08:49] fsiddi commented on #15
It works great as long as you don't pan or zoom the Render Result in the UV/Image Editor.
In that case CPU gets overused again. Le me know if you can reproduce this.

[2013-05-27 16:00] dfelinto commented on #15
It overheats _while_ you pan/zoom? Or _once_ you pan/zoom (meaning as soon as you do it there no way to calm the CPU down).

And can you make sure you don't have the save behaviour in trunk?

[2013-05-27 16:11] fsiddi commented on #15
It overheats only while I pan/zoom. Once I stop panning or zooming goes
back to normal.
Same behavior does not happen in trunk.

On 27 May 2013 18:00, Dalai Felinto notifications@github.com wrote:

[2013-05-28 07:31] fsiddi commented on #21
I would love to! I'll look into it in the next days.

[2013-05-29 09:11] dfelinto commented on #7
Pushed the patch, thanks. For epilepsy (and probably for time-sequential) we may need to force update of the ui, otherwise image editor doesn't seem to update. but that's for later.

For now it would be better if the range was a bit different. 10 sec is too much, while 0.1 is almost not fast enough.
My suggestion would be: 0.05 to 1 as UI limits, and 0.01 to 5 as hard limits, what do you think?
(a

[2013-05-30 01:13] dfelinto opened #24 "we need linux test builds"
@Alexey-Akishin can you upload your builds to graphicall.org?
This would help more people to test the branch.

Many thanks

[2013-05-30 01:14] dfelinto commented on #10
implemented as Switch View node

[2013-05-30 01:14] #10 closed, assigned to nobody

[2013-05-30 08:27] fsiddi commented on #10
Looks great! Does the Update Views do anything special (I mean doesn't the compositor refresh automatically)?

[2013-05-30 08:32] fsiddi commented on #7
If Dr. Epilepsy is not available in the Image Editor, were can I see it? I can't see it in 3D Viewport too...

[2013-05-30 09:21] Alexey-Akishin commented on #7
I suggest to keep 10 sec as max hard limit. I think sometimes I may want to set it high, especially for rendered images, so I could see left and right views as slideshow at typical speed. Renaming "delay" to interval sounds like a good idea. I sent a pull request with these changes. But we do not have default value yet...

[2013-05-30 09:25] Alexey-Akishin commented on #24
I think I need to add OpenEXR 2 and OIIO to the package somehow, and perhaps build with stable libraries; and test in virtual machine with fresh installation to make sure everything works and there is no missing dependencies. I will try to prepare the package next week...

[2013-05-30 15:20] dfelinto commented on #10
As per design the compositor shouldn't do destructive changes without
consulting with the user.
(I remember a similar debate for the osl node).

Thus the idea of the update. Btw disable a view and update and the socket
will still be there but hidden. So you don't loose its connections.
On May 30, 2013 1:28 AM, "Francesco Siddi" notifications@github.com wrote:

[2013-05-30 15:33] dfelinto commented on #13
Implemented a few commits ago (I think I broke something on ext, but that's a separate issue)

[2013-05-30 15:33] #13 closed, assigned to nobody

[2013-05-30 15:34] dfelinto commented on #7
@fsiddi if you click with the mouse multiple times you should see it.
We need to investigate why. We may need to force an update of the ui when there is no mouse
(and I think time-sequential has the same problem)

[2013-05-30 15:36] dfelinto commented on #24
Blender usually builds them statically. I can give you some scripts I used to use for Linux building later.

[2013-05-31 17:00] Alexey-Akishin commented on #24
Thanks, but I already have building script. Probably I just have to enable WITH_STATIC_LIBS build option to make my package more portable. But I will test my build in clean installation in virtual machine anyway, to be sure (I never build packages for other people before). Hopefully in next few days I will have the package ready.

[2013-06-01 20:13] dfelinto commented on #24
ok. windows is building through bulder.blender.org. If you find too complicated I can ask to have Linux set up there as well.

[2013-06-02 03:09] dfelinto opened #27 "Name handling for individual views saving"
1) when the user doesn't put % the _L or _R is showing up after the file extension.
2) when saving EXR Multiview the % should be stripped off

[2013-06-02 03:10] dfelinto commented on #11
@fsiddi you mentioned that rendering linked scenes is not working. Could you please send me a sample file?

[2013-06-02 07:18] fsiddi commented on #7
Yeah, I noticed that moving the mouse over any button triggers a full interface update too. Will wait for the fix, no hurry :)

[2013-06-02 07:42] fsiddi commented on #11
I made a new test file and at the moment liked scenes are working just fine! So there is no problem here.

[2013-06-02 07:49] #11 closed, assigned to nobody

[2013-06-03 05:29] Alexey-Akishin commented on #24
My build is ready to be uploaded. I have tested it on Debian Stable, Debian Unstable and Ubuntu LTS. Only thing that I'm missing is an account at blenderstorm so I can log in to graphicall. I have requested it and waiting almost 30 hours now, but after talking to someone at their IRC channel I think it may take a day or two until amino/jesterKing see my requests. As soon as they give me an account

[2013-06-03 21:21] Alexey-Akishin commented on #24
I finally got an account, but to upload I have to wait until my request to upgrade the account will be granted... Hopefully it will take no more than a day or two...

[2013-06-04 16:18] dfelinto commented on #27
Fixed

[2013-06-04 16:18] #27 closed, assigned to nobody

[2013-06-04 18:07] dfelinto commented on #5
pushed your patch, closing the issue

[2013-06-04 18:07] #5 closed, assigned to Alexey-Akishin

[2013-06-04 18:09] dfelinto opened #29 "Sequencer not working as in trunk"
Even before thinking on how to make the Sequencer to support multiview, I want to make sure it works like trunk.

(this should be simple, but it's a good remark of something I need to tackle before 2.68)

[2013-06-04 18:39] dfelinto opened #30 "Sequencer - multiview/stereoscopic support"
Design problems:
* How to deal with mono strips? (i.e., do we need an equivalent of the "Switch Viewer" node?)

* How to automatically input a stereo strip? (e.g., should we take anything ending with _R and _L and group them together?)

* Should a scene strip have a "replace camera" for each view?

* ...

[2013-06-05 13:12] fsiddi commented on #30
These are all interesting and important questions. I think mono strips could be always visible (independently from the channel used).
File input on the compositor is strange, so I'm not sure that grouping L and R would always work.

We should definitely have a chat about this at some point!

[2013-06-07 16:40] Alexey-Akishin commented on #24
I have uploaded my build to graphicall, so I'm closing this issue.

[2013-06-07 16:40] #24 closed, assigned to Alexey-Akishin

[2013-06-09 15:51] fsiddi opened #32 "FSA render crash"
Just set up the default scene with FSA and a stereo pair, start rendering and it will crash. Is used to look incorrect a few revisions ago, but now it's really failing.

[2013-06-10 04:13] dfelinto commented on #32
the original crash was due to a bug introduced after I fixed the Windows issue. But there is still a crash I believe

[2013-06-11 17:56] fsiddi commented on #32
Yes I confirm that on OSX.

[2013-06-11 18:26] dfelinto commented on #32
It only crashes when rendering with more than one thread by the way. I'm looking at a fix for that now.

[2013-06-11 23:18] dfelinto commented on #32
You should get no more crashes. However in my test file here, I was only getting the right compo result when using FSA if I force an update in the nodetree.

[2013-06-11 23:26] dfelinto opened #33 "Composite editing/update"
See sample file:
https://github.com/dfelinto/blender/blob/multiview/samples/blends/composite.blend

After you render it once, the only "color" you can change in the "View Switch" node is for the "left" image. Tweaking the "right" value will produce no effect until you render again.

I think what we need is a way to pick which view we are tweaking/editing at a given moment. Thoughts?

[2013-06-12 04:20] fsiddi commented on #32
Looks great now! Thank you for the fix! Now I can start working on Caminandes :)

[2013-06-12 04:20] #32 closed, assigned to nobody

[2013-06-12 06:59] dfelinto commented on #32
Just so you know. Although there is no crash there is still a bug with FSA (as mentioned in the commit log)

[2013-06-12 23:02] dfelinto commented on #32
FSA working 100% now :)

[2013-06-13 03:39] fsiddi commented on #32
Awesome!

[2013-06-13 16:53] dfelinto opened #36 "Cycles renders twice without even enabling anything multiview"
The problem is that Cycles is ignoring the "active" and "single view" flags.
The fix should also make sure something is rendered when no view is enabled.

Something like:
blender_session.cpp

345 . . for(r.views.begin(b_iterv), b_rview_id=0; b_iterv != r.views.end(); ++b_iterv, b_rview
346
347 . . . if ((r.scemode & R_SINGLE_VIEW) && b_rview_id != r.actview)
348 . . . . continue;
349
350 . . . if

[2013-06-13 16:55] dfelinto opened #37 "Move Views panel to Renderlayer panel"
I added as its own tab to help testers. I can move to renderlayer, no objections. I like the icon too :) it's used elsewhere, so no big deal not showing up in the top of the panel.

The other reason is that I thought we may want to completely hide/remove from the UI multiview functionality, thus having a panel only for that would be more clear.

[2013-06-13 16:57] dfelinto opened #38 ""left" and "right" view names should be capitalized by default like other names in Blender"
Ok, I still would capitalize it for the UI, feels a bit out of place otherwise next to pass names for example. In the OpenEXR save/load it can do the conversion.

[2013-06-13 16:58] dfelinto opened #39 "Rename all the references from "3-D" to "3D""
No strong reason, if Blender is using 3D elsewhere, 3D it is.

[2013-06-13 16:58] dfelinto opened #40 "Scene Render View "label" to be renamed "suffix""
The reason I pick label over "suffix" is because you can put the % anywhere in the filepath. But given that automatically it append as a suffix your suggestion makes sense.

[2013-06-13 16:59] dfelinto opened #41 "User preference 3D display options tweaks"
- The label in the user preferences should be "3D Stereo Display" instead of "3-D Display" since we only support that at the moment.
- There should be a default 3D display mode selected in the user preferences I think, not sure why there is a None option.

[2013-06-13 17:04] dfelinto opened #42 "Blender builtin stereo camera"
Sure, I will refer to the original design for that. It would be easier (in terms of implementation) if internally the stereo camera actually stored camera objects ... but I will see if it can be done in a different way.

[2013-06-13 17:19] Alexey-Akishin commented on #39
I will work on this today.

[2013-06-13 17:52] Alexey-Akishin commented on #39
Done.

[2013-06-13 17:55] dfelinto commented on #39
we should close only when the patch gets pulled. you can even refer the issue in the patch, so the issue gets closed automatically (github coolness) - https://help.github.com/articles/closing-issues-via-commit-messages ;)

[2013-06-13 18:04] Alexey-Akishin commented on #39
OK.

[2013-06-13 18:53] Alexey-Akishin commented on #39
It's merged. Closing.

[2013-06-13 18:53] #39 closed, assigned to Alexey-Akishin

[2013-06-13 18:58] dfelinto commented on #39
thanks I thought my edit in the pull-request comment would have close this entry, but apparently not.
thanks for the patch

[2013-06-13 18:59] Alexey-Akishin commented on #41
I will work on this tomorrow.

[2013-06-13 19:28] Alexey-Akishin opened #44 "Side-by-side display method needs non-compressed mode"
Created this issue to let you know that I did not forget about this. I plan to implement it this weekend.

[2013-06-14 16:01] Alexey-Akishin commented on #21
@fsiddi, if you do not have enough free time to do this, I could do it.

[2013-06-14 16:11] fsiddi commented on #21
Give me 2 more days to look into it. If I can't I'll let you know. Sounds
ok? If you are in a hurry no problem, just do it.

On 14 June 2013 12:01, Alexey-Akishin notifications@github.com wrote:

[2013-06-14 16:30] Alexey-Akishin commented on #21
@fsiddi, sounds OK to me.

[2013-06-14 17:27] dfelinto commented on #41
I think to add a reference to the issue not necessarily closes it. Not sure, closing it now, thanks Alexey.

[2013-06-14 17:27] #41 closed, assigned to Alexey-Akishin

[2013-06-14 17:30] dfelinto opened #46 "changes on "clean fullscreen""
Yet to decide what to do here

[2013-06-14 18:16] dfelinto opened #47 "decide on whether or not to have MultiView as its own EXR file"

[2013-06-14 18:52] dfelinto opened #48 "add stereo_ prefix for use def rna props"
https://github.com/dfelinto/blender/pull/35#discussion-diff-4702856

[2013-06-14 22:04] #48 closed, assigned to Alexey-Akishin

[2013-06-14 23:00] dfelinto commented on #46
@brechtvl :
So first things first, the goal of this tool is to provide an "as clean as possible" editor to the user, without any UI interference. That is not exclusive to "stereo/multiview", and can be useful for trunk as well.

For that "full window" (what we get from space+shift) comes handy and helps among other things, to make sure there is only one editor "cleaned" (otherwise it gets too conf

[2013-06-14 23:16] dfelinto opened #52 "View Switch shouldn't have "update" button"

[2013-06-17 05:35] fsiddi commented on #21
Ok I tried to look into it, but I don't have time for it unfortunately. So
feel free to take it away. Sorry :(

On 14 June 2013 12:30, Alexey-Akishin notifications@github.com wrote:

[2013-06-17 16:38] Alexey-Akishin commented on #21
OK, I will do it (perhaps tomorrow or day after).

[2013-06-20 05:41] #21 closed, assigned to Alexey-Akishin

[2013-06-20 05:48] dfelinto commented on #40
done

[2013-06-20 05:48] #40 closed, assigned to nobody

[2013-06-20 16:01] dfelinto commented on #37
Alexey, can you handle this one? No other change
only the moving (Brecht suggested other ui changes but better do them separately).

Thanks

[2013-06-20 17:44] Alexey-Akishin commented on #37
OK, will do it during this weekend.

[2013-06-24 06:41] #37 closed, assigned to Alexey-Akishin

[2013-06-24 17:18] dfelinto commented on #36
I need to implement "custom begin/next/end callbacks for RNA collections". This way we do a for view in b_views().
When no views, we create a dummy view in the RNA_collection

[2013-06-27 01:17] #36 closed, assigned to nobody

[2013-07-13 14:28] fsiddi opened #59 "Build instructions for Linux"
Could we get some instructions on how to compile the multiview branch on Linux? I tried to combine the steps for OSX and the linux dependency script and it did not end up well. Specifically, I'm trying to build the multiview_caminandes branch to complete the Caminandes stereo project.

Thanks :)

[2013-07-13 15:00] dfelinto commented on #59
Alexey can you help with that?
I believe next week I will resume working on the branches btw

[2013-07-14 07:30] Alexey-Akishin commented on #59
I have used install_deps.sh script. I remember that I had some minor problems compiling but few simple workarounds solved them. Unfortunately I don't remember exact steps. Francesco, post what you did and what errors you got. If it's the same problem I encountered I will tell you what I did to solve it.

dfelinto, hopefully next week I will resume working on it too, but probably at the weekend.

[2013-07-14 22:36] fsiddi commented on #59
Hey Alexey!
this is the error. Looks like the usual openEXR nightmare.

[code]

[2013-07-14 22:39] dfelinto commented on #59
@fsiddi you need to manually copy this file (ImfPartHelper.h) to the installer folder of Imbuf/Openexr

[2013-07-15 03:10] fsiddi commented on #59
That worked, thank you so much!
Any reason why this happened?

[2013-07-15 03:25] dfelinto commented on #59
It's a bug in the cmake install files of imbuf (so OpenEXR bug)

[2013-07-15 03:25] #59 closed, assigned to Alexey-Akishin

[2013-08-27 14:38] dfelinto opened #60 "Overscan rendering"
This is a remark to investigate the possibility of rendering slightly more than the render size. This would also be useful for Compositing (when using the Movie Distortion node)

[2013-09-10 04:16] dfelinto commented on #17
Also: "Regarding the "clean fullscreen" name, maybe the old "fullscreen" can be renamed to "maximized" and "clean fullscreen" can be "fullscreen" then? Makes more sense to me."

[2013-09-10 04:16] dfelinto commented on #46
Also: "Regarding the "clean fullscreen" name, maybe the old "fullscreen" can be renamed to "maximized" and "clean fullscreen" can be "fullscreen" then? Makes more sense to me."

[2013-09-10 04:17] dfelinto commented on #52
Also/related: "Not sure why it is called NODE_UPDATE_RNA when it has nothing to do with RNA as far as I can tell. Maybe should be NODE_UPDATE_UI or NODE_UPDATE_OPERATOR."

[2013-11-01 17:04] dfelinto commented on #60
Sergey was already working on it, so no need to be addressed by multiview branch.
I'll leave it open though, until he merges his work in trunk

[2013-11-01 17:18] dfelinto commented on #9
![multi view composite_01](https://f.cloud.github.com/assets/843498/1455357/1e666fb6-4319-11e3-8d58-99df15011079.jpg)

Basically the issue is that View Nodes are reading/writing from/to a global imbuf. Imbufs are designed to handle one single buffer at a time, which is a no-go for multiview. The simplest solution is to use RenderResult instead of imbuf for them.

The attached image came from the d

[2013-11-01 17:21] dfelinto commented on #33
I talked with Jeroen during bcon13 and there is no reason to the Auto-Render option in the compositor to not be working for both eyes. The easiest way to go about it is to track what the Auto-Render option is triggering and see if it has a "for view" loop

[2013-11-01 17:25] dfelinto commented on #17
UPDATE:
What was agreed on (talked with Brecht on that during bcon13):
- <b>Maximize Editor</b>: (old Ctrl+Up)
- <b>Full Screen Window</b>: (old Alt + F11)
- <b>Full Screen Editor</b>: new operator (currently implemented in multiview as 'SCREEN_OT_clean_full_area'). It should fullscreen the window regardless of the 3d mode, and make it clean. After exiting it, it should return to the previous wind

[2013-11-01 17:27] dfelinto opened #62 "Camera Panel changes"
Simply UI changes. Also a reminder that in Parallel mode you get to see the converged result in the viewport, but when you render you see it non-converging.
- When 'Parallel mode' is on, change 'convergence distance' to 'viewport convergence'
- Add Pivot option - see #67 (functionality can come later, but UI can always come first)

Panel should be visible when scene.render.use_multiple_views and i

[2013-11-01 17:30] dfelinto opened #63 "No longer to have a "per-window" 3D toggle"
The current 'D' option should disappear (it will be used for the 'Full Screen Editor' instead).

[2013-11-01 17:40] dfelinto commented on #46
closing this since this is more clear in #17

[2013-11-01 17:40] #46 closed, assigned to nobody

[2013-11-01 17:41] dfelinto opened #64 "Fullscreen display modes need to warn the user"
The fullscreen display modes (top-bottom, side-by-side, quadbuffer) should only show in 3D when Blender is in fullscreen. When Blender is not in fullscreen and 3d is on in the editor they should draw a warning in the viewport/image/sequencer editors suggesting the user to press 'D' (or double-click?).

Optionally side-by-side and top-bottom should only work in the 'Full Screen Editor' mode #17

[2013-11-01 17:52] dfelinto opened #65 "Basic/Advanced Stereo"
Those are big changes in 'Views' that should be done before some of the other issues can be tackled.

Views now should have an enum to pick <b>Basic Setup</b> and <b>Advanced Setup</b>.
Basic setup will let you enable the individual L/R views, and pick a suffix for when exporting the views.

Advanced setup will let you have more than 2 views, and for each view you can pick a <b>Camera Suffix</b>.

[2013-11-01 17:55] dfelinto opened #66 "Viewport Changes"
- Viewport should no longer have a 'use_stereoscopy' option.
- It should let you pick the current camera (Left, Right, 3D) from an expanded enum.
- Left should be the default camera

Panel should be visible when scene.render.use_multiple_views and is True, and active when scene.render.views_setup == 'BASIC' (see #65).

[2013-11-01 17:59] dfelinto opened #67 "Stereo Camera should have a Pivot"
- We should add a 'Pivot' option to the stereo camera (Left, Center, Right), with Center being the default

[2013-11-01 18:02] dfelinto commented on #7
For the records, the coolest way of using this mode is using alt+a in the Image Editor ;)
At some point we may want to rename this mode to 'Software Time Sequential' which I think may be the 'correct' term.

[2013-11-02 12:07] dfelinto commented on #65
Update,

[2013-11-02 12:11] dfelinto commented on #65
Proposal for changes on suffixes:
https://db.tt/K7GJdvFi

@fsiddi do you like it?

[2013-11-02 16:57] fsiddi commented on #65
Looks great to me :)

[2013-11-02 23:54] EibrielInv opened #69 "Window Manager General Drawing Problems"
Related to #15

After enabling Stereoscopy the window is not refreshing properly. Menus overlaps, some mouse events not being handled, or values changes not firing proper redraw.
- Changing to camera don't refresh until you change some parameter
- Writing a number in field don't show the last number entered
- Moving, rotating entering value with numpad don't show the translation or rotation of the

[2013-11-03 14:33] EibrielInv opened #70 "Draw Stereo Camera"
Stereo Camera need to Draw properly on View3D.
- Must show Interocular Distance
- Must show Convergence Distance (Parallel?)
- Must show Near & Far Planes (proposal)
- Convergence Plane must have lines crossing it, to show easily intersection on objects.

Near & Far planes need 2 parameters to show correctly Far Plane Separation (percent) and Near Plane Separation (percent. This values can be set

[2013-11-03 14:40] EibrielInv opened #71 "Stereo Camera & Stereo View3D"
View3D must show properly the influence of Stereo Parameters:
- Convergence Distance
- Interocular Distance
- Shift (Proposal, to change Budget position, "Shift" isn’t the best name)

Work so far: http://www.youtube.com/watch?v=GKVzVHaqkCo&feature=youtu.be

![view3dstereo](https://f.cloud.github.com/assets/172656/1461129/b7c2081e-4495-11e3-819d-d71869d120c4.png)

[2013-11-03 20:56] dfelinto commented on #71
What am I seeing in this demo?
Technically the viewport should show in 3d only when you are inside the camera viewport.
For the other views (e.g., when in quad view) you will see the ´planes´, cameras, ... but not stereo itself).

[2013-11-03 21:00] EibrielInv commented on #71
For some reason when I press "D" all viewports show stereo, and viewports not showing a Camera are locked.
Let me know if it's a bug of my implementation.

[2013-11-03 21:11] dfelinto commented on #69
I´m aware of this. it´s related to the #15 indeed and it´s caused from the stereo implementations in wm_draw.c and wm_stereo.c (the triplebuffer thing)

[2013-11-04 01:24] EibrielInv commented on #70
Some improvements:

![camdraw2](https://f.cloud.github.com/assets/172656/1462297/c0fc5d9e-44ef-11e3-8eb3-20b5b6a48e2c.png)

[2013-11-04 02:43] EibrielInv opened #72 "Camera Fixed to first one"
- Open Blender
- Delete Camera
- Create Camera
- Set camera as active (Ctrl+0)
- Set view to camera (0)
- [The viewport show the new camera view]
- Enable 3D, on panel
- Enable 3D on viewport (D)
- [The viewport show the old camera view]

Switching 3D view with D will switch between old camera view and new camera view.

Real camera position:
![newcamera](https://f.cloud.github.com/assets/172656/14

[2013-11-04 02:54] dfelinto commented on #72
Why to delete and create a new camera?
Check the changes we do in readfile.c, it can probably be expanded to what you need.

And are you always showing the planes? I think it should follow the viewport stereoscopy 'show planes' option.

Nice progress by the way

[2013-11-04 03:05] EibrielInv commented on #72
Some times you want to delete the default camera and append a Camera Rig (with its own camera), I think it's an operation that must be allowed freely.

I'll look to readfile.c!

Yes Its always showing, I'll add a check for 'show planes' and if stereo is on.

Thanks!

[2013-11-04 03:21] dfelinto commented on #72
Ah that was for an 'Advanced Stereo' setup. I thought it was for the Basic one

[2013-11-04 03:57] EibrielInv commented on #72
Here is a video showing the issue :
http://www.youtube.com/watch?v=jIxppIxzdLs

[2013-11-04 04:49] #66 closed, assigned to nobody

[2013-11-04 05:03] #63 closed, assigned to nobody

[2013-11-04 05:05] dfelinto commented on #42
The only missing bit for this is to use the actual value for rendering (and the pivot)

[2013-11-04 05:08] dfelinto commented on #17
NOTE: for that maximize Editor will be merged with the wm_stereo_toggle_exec operator.

If scene.use_multiviews handle the page flip thing (see code). Otherwise only do the old clean ui part of the functionality.

Always go to fullscreen.

[2013-11-04 05:46] dfelinto commented on #71
A did a bunch of updates. Once we have the #17 done we can reassess this one.

[2013-11-06 00:37] EibrielInv commented on #17
I'm taking a look to this, just looking the code to understand it...

[2013-11-06 00:56] EibrielInv commented on #69
Works way better now :D

[2013-11-06 06:31] dfelinto commented on #72
I think this is fixed. Please test it again and if it works close the bug

[2013-11-07 01:10] EibrielInv commented on #72
Fixed!!

[2013-11-07 01:10] #72 closed, assigned to nobody

[2013-11-20 06:03] dfelinto opened #73 "We are now tracking git.blender.org"
@Eibriel @fsiddi @Alexey-Akishin @brechtvl :

I updated the repository replacing <b>master</b> and <b>multiview</b>. That means any fork/branch will have to be re-created:
- Master is a 1:1 copy of git.blender.org.
- Multiview is a transplanted version of the old branch, but updated with master.
- <b>old-master</b> and <b>old-multiview</b> are backups.
- Master and multiview are one level in (no m

[2013-11-24 18:37] Alexey-Akishin commented on #73
It's good news. But I encountered an error when trying to download the repository:

Cloning into 'release/datafiles/locale'...
Username for 'https://github.com': Alexey-Akishin
Password for 'https://Alexey-Akishin@github.com':
remote: Repository not found.
fatal: repository 'https://github.com/dfelinto/blender-translations.git/' not found
Clone of 'https://github.com/dfelinto/blender-translations.

[2013-11-24 19:00] Alexey-Akishin commented on #44
I assume #53 was closed automatically. I would like to say that I plan eventually to work on this (I still have to solve resize event issue).

[2013-11-24 19:20] EibrielInv commented on #73
Hi @Alexey-Akishin , before

[code]

You need to:

[code]

[2013-11-24 19:55] Alexey-Akishin commented on #73
@Eibriel , thanks, now everything works as expected.

[2013-11-25 00:06] dfelinto commented on #73
all good, I just updated the building instructions. If there is anything missing, please pull request ;)
closing the issue now

[2013-11-25 00:06] #73 closed, assigned to nobody

[2013-11-25 01:46] dfelinto commented on #44
I think I was cleaning up the repo since I thought I would have to migrate to a new repo in github, and the pull request went down in the process

[2013-11-25 14:26] dfelinto opened #74 "Move 'samples' to a submodule"
That would prevent the slowness I get everything I run 'arc diff'. It times out trying to upload 8MB of one of the exr files

[2014-04-01 19:48] dfelinto opened #75 "Copy should be aware of Views suffix"
e.g., if I copy a set of "Camera.Center", "Camera.Left", and  "Camera.Right" in a scene with Views on, and ".Center", ".Left", and ".Right" as suffix respectively, the new names should be: "Camera.001.Center", "Camera.001.Left", "Camera.001.Right"

[2014-04-02 08:43] PixelPartner commented on #75
I think this would break many other concepts and might be handled as an
exception to common rules.
How about introducing another seperator to identify views. i.e.
Camera_Left.0001 or just use simple camelcasing: CameraRight ..
CamerRight.004 and then let your scripts look for camera names suffixed
with Left/Right/Center

2014-04-01 21:48 GMT+02:00 Dalai Felinto notifications@github.com:

[2014-05-23 15:26] dfelinto commented on #74
done

[2014-05-23 15:26] #74 closed, assigned to nobody

[2014-05-28 12:52] dfelinto commented on #67
Done

[2014-05-28 12:52] #67 closed, assigned to nobody

[2014-05-28 12:53] dfelinto commented on #69
Fixed

[2014-05-28 12:53] #69 closed, assigned to nobody

[2014-05-28 12:54] dfelinto commented on #65
Basic/advanced fully working at the moment

[2014-05-28 12:54] #65 closed, assigned to nobody

[2014-05-28 12:55] dfelinto commented on #42
Implemented (pivot even)

[2014-05-28 12:55] #42 closed, assigned to nobody

[2014-05-28 12:56] dfelinto commented on #62
Done

[2014-05-28 12:56] #62 closed, assigned to nobody

[2014-05-28 12:58] dfelinto commented on #15
@fsiddi do you still have this issue? (use official branch in git.blender.org for the test)

[2014-05-28 13:00] dfelinto commented on #71
@Eibriel can we close this? I believe viewport is showing the 3d correctly now

[2014-05-28 13:01] dfelinto commented on #71
@Eibriel can we close this? I believe viewport is showing the 3d correctly now

[2014-07-25 18:30] dfelinto commented on #17
This is implemented in https://developer.blender.org/D678

[2014-08-14 18:21] dfelinto opened #77 "Compositor can't show non-RGBA passes from saved OpenEXR"
See file, try to visualize the non-RGBA channels: https://dl.dropboxusercontent.com/u/3292898/stereo-report-comp.exr

[2014-08-14 18:21] dfelinto opened #78 "Non-RGBA passes get mangled when exported"

[2014-08-18 13:43] dfelinto commented on #47
implemented as its own type at the end

[2014-08-18 13:43] #47 closed, assigned to nobody

[2014-08-18 13:44] dfelinto commented on #15
closing for now since I believe it's fixed.

[2014-08-18 13:44] #15 closed, assigned to nobody

[2014-08-25 01:49] maverick1999 opened #79 "Motion Blur for Cycles is broken for Advanced Stereo and multiple Cameras"

[2014-08-25 01:50] maverick1999 opened #80 "Multiple Importance renders the scene darker"

[2014-08-25 02:04] maverick1999 opened #81 "Passes are not working"
1.Passes are either not saved or not imported correctly on OpenEXR Multiview
2.Passes seem to be rendered for just a single camera
3.When importing an OpenEXR Multiview image in the Compositor there could be another option called Pass below the Layer and View dropdown lists.

Generally Passes are not functional at this point

[2014-08-26 00:39] dfelinto commented on #77
Fixed

[2014-08-26 00:39] #77 closed, assigned to nobody

[2014-08-26 00:44] dfelinto commented on #81
That should be fixed now (in rev. 610a66bf8c547d084e61aac338976e3f312ee3c4 ). Both exporting and importing of OpenEXR Multiview files should be working.

[2014-08-26 00:44] #81 closed, assigned to nobody

[2014-08-26 00:47] dfelinto commented on #80
Can you share a sample file please?

[2014-08-26 00:47] dfelinto commented on #79
Can you share a sample file, please?

[2014-08-26 15:34] dfelinto commented on #78
fixed, the problem was input, not export

[2014-08-26 15:34] #78 closed, assigned to nobody

[2014-08-26 17:51] maverick1999 commented on #79
https://www.dropbox.com/s/lnvebgnu8snfear/_mblur_multiview_bug.blend?dl=0

[2014-08-26 17:54] maverick1999 commented on #79
should be the other way around, monkeys should be blurred and not the cube

[2014-08-30 18:04] dfelinto commented on #79
File also here: http://www.pasteall.org/blend/31277

[2014-09-20 13:57] dfelinto commented on #79
Bug fixed, thanks for reporting it :)

[2014-09-20 13:57] #79 closed, assigned to nobody

[2014-09-20 13:57] #71 closed, assigned to EibrielInv

[2014-09-20 13:58] dfelinto commented on #33
This is fixed now, closing

[2014-09-20 13:58] #33 closed, assigned to nobody

[2014-09-20 13:59] dfelinto commented on #9
Fixed with a different approach, but working fine.

[2014-09-20 13:59] #9 closed, assigned to nobody

[2014-09-20 14:02] dfelinto commented on #80
I'll close it for now, but I can reopen once a file is provided

[2014-09-20 14:02] #80 closed, assigned to nobody

[2014-10-23 23:37] dfelinto commented on #70
this is already implemented, closing now

[2014-10-23 23:37] #70 closed, assigned to EibrielInv

[2014-10-23 23:38] Eibriel opened #82 "Output "frame_%_.png" generates "frame_(null)_0001_R.png""
Output "frame_%\_.png" generates "frame_(null)_0001_R.png".

**ensure_view()** apparently dont detect the "%" character adding it to the end every time and generating the (null) value.

Also, the code apparently is complex without need at **BLI_path_view()**:
This must just work:
[code]

Bests!

[2014-10-24 01:06] EibrielInv commented on #82
After investigating a bit further I came to the conclusion that it is some sort of multithreading issue. More than one process is changing the same *path var at the same time.
If I copy the var, then the **BLI_path_view()** function goes well, but I'm unnable to save the result on *path without messing it up.

This function print the correct result, but can't store it on *path.

[code]

[2014-10-26 11:58] PixelPartner commented on #82
Isn't the n in strncp for the max len of the destination string to protect its neighbors from overflow ?

Von meinem iPad gesendet

[2014-10-31 13:05] #17 closed, assigned to nobody

[2014-11-22 16:23] dfelinto opened #83 "Movie outputs only writes one view"
If you export individual views in video format, they override each other.

The reason for that is that the filepath managing is happening inside the movie format code, and it's not a parameter sent to the write movie function.

[2014-11-25 20:42] dfelinto opened #84 "View navigation not working in stereo mode"
"Press NumpadZero, and Shift+F, The view isn't redrawing (but mini axis moves)."

[2014-11-25 23:47] dfelinto commented on #84
Proposed fix in: https://developer.blender.org/D917

[2014-11-26 01:16] dfelinto opened #85 "If the camera required for a view is not present it should fail to render"

[2014-11-26 13:43] dfelinto opened #86 "Bump subversion and remove all the DNA_struct_elem_find calls"

[2014-11-26 14:35] dfelinto opened #87 "Remove the option to add custom % to specify where to add suffices"

[2015-01-09 15:34] dfelinto commented on #84
Fixed and committed

[2015-01-09 15:34] #84 closed

[2015-01-19 16:43] dfelinto commented on #83
Fixed (it required a lot of encapsulation in the file format codes since they were relying on static elements for almost everything).

[2015-01-19 16:43] #83 closed

[2015-01-19 16:43] #29 closed

[2015-03-05 18:10] dfelinto commented on #82
fixed, in fact I got rid of the option to use %, right now the view suffix is always this (a suffix)

[2015-03-05 18:10] #82 closed

[2015-03-16 10:35] dfelinto commented on #87
Implemented c71d3a62

[2015-03-16 10:35] #87 closed

[2015-03-16 13:10] dfelinto commented on #85
implemented 7092a7a

[2015-03-16 13:10] #85 closed

[2015-03-16 13:11] dfelinto commented on #30
Closing this by now since sequencer is working on its own way. The design is open for changes of course, but to the point of being an open issue.

[2015-03-16 13:11] #30 closed

[2015-03-16 13:38] dfelinto commented on #7
And the Dr. Epilepsy mode is gone . . . R.I.P. a1a5bff

[2015-03-16 13:38] #7 closed

[2015-03-16 14:41] dfelinto opened #88 "Compositor crashes when using Image Node and tries a view that that image doesn't have"

[2015-03-16 21:55] foobarbecue opened #89 "Anaglyph color is wrong for active wireframe objects"
The color of active objects is set by the Themes in the user preferences. In Anaglyph mode, the color chosen for Active Object is not modified for the red / blue filters. This makes it very hard to edit anything in anaglyph mode.

[2015-03-17 10:00] dfelinto commented on #88
Fixed (it was a memory issue, fixed on Linux)

[2015-03-17 10:00] #88 closed

[2015-03-17 16:19] dfelinto commented on #52
Fixed-ish by moving 'Update Views' to the _ex panel

[2015-03-17 16:19] #52 closed

[2015-03-17 18:18] foobarbecue commented on #89
Actually, maybe I'm wrong about this. It seems to be working. It might just be a problem with Weight paint.

[2015-03-17 21:13] dfelinto commented on #89
Alright, closing then ;) At least for now.

[2015-03-17 21:13] #89 closed

[2015-03-23 10:13] dfelinto opened #90 "Crash when trying to play back animated scene"
(it may be blender, but I think it's related to filepath names)

[2015-03-23 10:13] dfelinto opened #91 "Get the correct file name for 'touch'"

[2015-04-01 04:44] dfelinto opened #92 "sequencer scene strips make everything to render multiple times"
That's strange, but I see what you mean. It seems to happen only with the sequencer. I suspect I have a for view in views: render loop in both sequencer and render code, and the scene strip is being caught up in this loop. I still need both loops (e.g., for images in the sequencer) but I will look at this problem.

[2015-04-01 04:44] dfelinto opened #93 "Selecting camera from multiview when looking from camera is problematic"
Right, I'm not sure why this is happening. You can select the camera if you offset your click some pixels left (or right, depends on your camera pivot)

[2015-04-01 04:45] dfelinto opened #94 "Fix load_from_file"

[2015-04-01 18:06] dfelinto commented on #92
Fixed

[2015-04-01 18:06] #92 closed

[2015-04-02 12:30] dfelinto commented on #94
fixed

[2015-04-02 12:30] #94 closed

[2015-04-02 18:17] dfelinto commented on #91
fixed

[2015-04-02 18:17] #91 closed

[2015-04-02 22:12] dfelinto opened #95 "Animation playback (ctrl+F11) doesn't support stereo formats"
That's a feature, which is probably easy to implement. It would be fun to have this working.

My suggestion:
[ ] - loop over stereo_3d, left, right, view0, view1, ...
m - toggle multiview

--use_multiview --views_format=stereo_3d --flip_view ...

[2015-04-06 13:21] dfelinto commented on #86
done

[2015-04-06 13:21] #86 closed

[2015-09-18 13:24] #93 closed